body {
    font-family: Arial, sans-serif;
}

#gardenList li {
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 5px;
}

canvas {
    width: 100% !important;
    height: 300px !important;
}
